In [ ]:
name = input('enter name')
rno = int(input('enter roll no:'))
M1 = int(input('enter mark'))
print(name,rno,M1)

enter nameprj
enter roll no:29
enter mark100
prj 29 100

In [ ]:
t1 = float(input('enter temperature in farehiet'))
C = (t1-32)*(5/9)
print('temperature in celsius = ', C)
t2 = float(input('enter temeparure in celsius'))
F = (t2+32)*(5/9)
print('temperature in farenhiet = ',F)

enter temperature in farehiet100
temperature in celsius =  37.77777777777778
enter temeparure in celsius101
temperature in farenhiet =  73.88888888888889

In [ ]:
X =float(input('enter a number'))
Y =float(input('enter a number'))
print(X*Y)

enter a number2.5
enter a number2.5
6.25

In [ ]:
r = float(input('enter the radius of the circle'))
A = 3.14*r*r
print('Area = ', A)

enter the radius of the circle4
Area =  50.24

In [13]:
sample_dict = input({"name":"john","age":25,"salary":80000,"city":"new york"})
sample_dict ['city'] = ['location']
print(sample_dict)

{'name': 'john', 'age': 25, 'salary': 80000, 'city': 'new york'}city

TypeError: ignored

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
num = int(input('enter number to be inserted'))
pos = int(input('enter position of number to be inserted'))
l1.insert(pos,num)
print(l1)

enter number to be inserted5
enter position of number to be inserted2
[1, 2, 5, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
t1 = (50,10,60,70,50,83,564,50,81)
t1.count(50)

3

In [14]:
sdict = {'emp1':{'name' : 'john','salary' : '7500'},
'emp2':{'name': 'emma','salary': '8000'},
'emp3':{'name': 'brad','salary':'500'}}

sdict ['emp3']['salary']= 8500
print(sdict)

{'emp1': {'name': 'john', 'salary': '7500'}, 'emp2': {'name': 'emma', 'salary': '8000'}, 'emp3': {'name': 'brad', 'salary': 8500}}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')